@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/* base styles */

* {
  margin: 0;
  font-family: "Montserrat";
  color: #222;
}

img {
  width: 100%;
}

.App {
  max-width: 950px;
}

.text-container {
  width: 100% - 50px;
  background-color: #e8e8e8;
  padding: 50px;
}

.page-title {
  font-weight: 400;
  margin: 0 0 65px 0;
}

.page-title h1 {
  padding-bottom: 15px;
  font-weight: inherit;
}

.page-title h3 {
  font-weight: inherit;
}

.faktura-oversikt a {
  margin-bottom: 20px;
  text-decoration: none;
}

.faktura-oversikt a:hover {
  text-decoration: underline;
}

.faktura-oversikt .faktura-table > tr > td {
  padding: 5px;
}
